<!DOCTYPE html>
<html ng-app="mailhogApp">
  <head>
    <title>MailWork</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">

    <link rel="icon" type="image/png" href="images/hog.png">

    <link rel="stylesheet" href="css/jquery-ui-1.10.4-smoothness.css">
    <link rel="stylesheet" href="css/bootstrap-3.3.2.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-controller="MailCtrl" ng-click="keepopen=false">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="col-md-2 col-sm-3">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img src="images/hog.png" height="20" alt="MailWork"> MailWork
            </a>
          </div>
        </div>

        <div class="col-md-10 col-sm-9">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group left-inner-addon">
              <i class="glyphicon glyphicon-search"></i>

              <input ng-model="searchText" type="text" ng-key-enter="search('containing', searchText)" class="form-control" autocomplete="off" placeholder="搜索" id="search" ng-focus="keepopen=true" ng-click="$event.stopPropagation()">

              <div class="list-group" ng-if="searchText.length > 0 && keepopen">
                <a href="#" ng-click="search('containing', searchText)" class="list-group-item">
                  查找包含 <strong>{{ searchText }}</strong> 的邮件
                </a>
                <a href="#" ng-click="search('to', searchText)" class="list-group-item">
                  查找发送给 <strong>{{ searchText }}</strong> 的邮件
                </a>
                <a href="#" ng-click="search('from', searchText);" class="list-group-item">
                  查找来自 <strong>{{ searchText }}</strong> 的邮件
                </a>
              </div>
            </div>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a target="_blank" href="https://github.com/naamfung/MailWork">
                <img src="images/github.png" height="16" alt="GitHub"> MailWork
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 col-sm-3">
          <ul class="nav nav-pills nav-stacked">
            <li>
              <a href="#" title="事件流已连接" ng-click="toggleStream()">
                <span class="glyphicon glyphicon-off {{ hasEventSource ? 'has-event-source' : 'no-event-source' }}"></span>
                {{ hasEventSource ? '已连接' : '未连接' }}
              </a>
            </li>

            <li>
              <a href="#" ng-click="backToInboxFirst()">
                收件箱 ({{totalMessages}})
              </a>
            </li>

            <li>
              <a href="#" ng-click="deleteAll()">
                <span class="glyphicon glyphicon-remove-circle"></span>
                删除所有邮件
              </a>
            </li>
          </ul>

          <div class="well jim-well">
            <h3>Jim</h3>
            <p>
              Jim 是一个混沌猴子。
            </p>
            <div ng-if="jim">
              <a href="#" ng-click="disableJim()" class="btn btn-xs btn-danger">禁用 Jim</a>
            </div>
            <div ng-if="jim" class="jim-config">
              <div class="jim-config-item">
                <strong>接受连接概率</strong>
                <span>{{ jim.AcceptChance * 100 }}%</span>
              </div>
              <div class="jim-config-item">
                <strong>断开连接概率</strong>
                <span>{{ jim.DisconnectChance * 100 }}%</span>
              </div>
              <div class="jim-config-item">
                <strong>影响链路速度概率</strong>
                <span>{{ jim.LinkSpeedAffect * 100}}%</span>
              </div>
              <div class="jim-config-item">
                <strong>最小链路速度</strong>
                <span>{{ jim.LinkSpeedMin }}kbps</span>
              </div>
              <div class="jim-config-item">
                <strong>最大链路速度</strong>
                <span>{{ jim.LinkSpeedMax }}kbps</span>
              </div>
              <div class="jim-config-item">
                <strong>拒绝发件人概率</strong>
                <span>{{ jim.RejectSenderChance * 100 }}%</span>
              </div>
              <div class="jim-config-item">
                <strong>拒绝收件人概率</strong>
                <span>{{ jim.RejectRecipientChance * 100 }}%</span>
              </div>
              <div class="jim-config-item">
                <strong>拒绝认证概率</strong>
                <span>{{ jim.RejectAuthChance * 100 }}%</span>
              </div>
            </div>
            <div ng-if="!jim">
              <a href="#" ng-click="enableJim()" class="btn btn-xs btn-default">启用 Jim</a>
            </div>
          </div>

          <div class="well jim-well">
            <h3>服务设置</h3>
            <p class="text-muted">邮件客户端连接设置：</p>
            <div class="jim-config">
              <div class="jim-config-item">
                <strong>SMTP 服务器</strong>
                <span class="pull-right" id="smtp-server">localhost:1025</span>
              </div>
              <div class="jim-config-item">
                <strong>IMAP 服务器</strong>
                <span class="pull-right" id="imap-server">localhost:143</span>
              </div>
              <div class="jim-config-item">
                <strong>Web 界面</strong>
                <span class="pull-right" id="web-interface-url">http://localhost:8025</span>
              </div>
              <div class="jim-config-item">
                <strong>认证</strong>
                <span class="pull-right">无需认证</span>
              </div>
            </div>
          </div>
          <script>
            // 获取当前页面的 URL
            var currentUrl = window.location.href;
            // 更新 Web 界面地址
            document.getElementById('web-interface-url').textContent = currentUrl;
            
            // 从 URL 中提取主机名
            var url = new URL(currentUrl);
            var hostname = url.hostname;
            
            // 更新 SMTP 和 IMAP 服务器地址
            document.getElementById('smtp-server').textContent = hostname + ':1025';
            document.getElementById('imap-server').textContent = hostname + ':143';
          </script>
        </div>

        <div class="col-md-10 col-sm-9 content">
          [: .Content :]
        </div>
      </div>
    </div>

    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-ui-1.10.4.min.js"></script>
    <script src="js/bootstrap-3.3.2.min.js"></script>
    <script src="js/angular-1.3.8.js"></script>
    <script src="js/moment-2.8.4.js"></script>
    <script src="js/filesize-3.1.2.min.js"></script>
    <script src="js/strutil.js"></script>
    <script src="js/controllers.js"></script>
    <script>
      function endsWith(str, suffix) {
        return str.indexOf(suffix, str.length - suffix.length) !== -1;
      }

      var apiHost = "[: .APIHost :]";
      if(apiHost.length > 0 && !endsWith(apiHost, "/")) {
        apiHost += "/";
      }

      var columns = [15,15,40,20,10];
    </script>
  </body>
</html>
